October = 'DigitalOctober'
Road = 'RoadRadio'
icomoon = 'icomoon'


@font-face {
	font-family: 'DigitalOctober';
	src: url('../fonts/DigitalOctober/DigitalOctober.eot');
	src: url('../fonts/DigitalOctober/DigitalOctober.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DigitalOctober/DigitalOctober.woff2') format('woff2'),
		url('../fonts/DigitalOctober/DigitalOctober.woff') format('woff'),
		url('../fonts/DigitalOctober/DigitalOctober.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'DigitalOctober';
	src: url('../fonts/DigitalOctober/DigitalOctober-Bold.eot');
	src: url('../fonts/DigitalOctober/DigitalOctober-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DigitalOctober/DigitalOctober-Bold.woff2') format('woff2'),
		url('../fonts/DigitalOctober/DigitalOctober-Bold.woff') format('woff'),
		url('../fonts/DigitalOctober/DigitalOctober-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'DigitalOctober';
	src: url('../fonts/DigitalOctober/DigitalOctober-Light.eot');
	src: url('../fonts/DigitalOctober/DigitalOctober-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DigitalOctober/DigitalOctober-Light.woff2') format('woff2'),
		url('../fonts/DigitalOctober/DigitalOctober-Light.woff') format('woff'),
		url('../fonts/DigitalOctober/DigitalOctober-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'DigitalOctober';
	src: url('../fonts/DigitalOctober/DigitalOctober-SemiBold.eot');
	src: url('../fonts/DigitalOctober/DigitalOctober-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DigitalOctober/DigitalOctober-SemiBold.woff2') format('woff2'),
		url('../fonts/DigitalOctober/DigitalOctober-SemiBold.woff') format('woff'),
		url('../fonts/DigitalOctober/DigitalOctober-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}


@font-face {
	font-family: 'RoadRadio';
	src: url('../fonts/RoadRadio/RoadRadio-Light.eot');
	src: url('../fonts/RoadRadio/RoadRadio-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/RoadRadio/RoadRadio-Light.woff2') format('woff2'),
		url('../fonts/RoadRadio/RoadRadio-Light.woff') format('woff'),
		url('../fonts/RoadRadio/RoadRadio-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'RoadRadio';
	src: url('../fonts/RoadRadio/RoadRadio.eot');
	src: url('../fonts/RoadRadio/RoadRadio.eot?#iefix') format('embedded-opentype'),
		url('../fonts/RoadRadio/RoadRadio.woff2') format('woff2'),
		url('../fonts/RoadRadio/RoadRadio.woff') format('woff'),
		url('../fonts/RoadRadio/RoadRadio.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'RoadRadio';
	src: url('../fonts/RoadRadio/RoadRadio-Bold.eot');
	src: url('../fonts/RoadRadio/RoadRadio-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/RoadRadio/RoadRadio-Bold.woff2') format('woff2'),
		url('../fonts/RoadRadio/RoadRadio-Bold.woff') format('woff'),
		url('../fonts/RoadRadio/RoadRadio-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}


@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon/icomoon.eot');
	src: url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.woff') format('woff'),
		url('../fonts/icomoon/icomoon.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
