section.about#about
  .about-container.section-container
    img.about-image(src="assets/images/about-image-2.png")
    .words-point
  .wrap.about__wrap
    .about-content
      h2.section-title.about__title О клубе
      p.about__text Made in Gym это клуб для тех, кто:
      ul.about-list
        li.about-list__item Ценит качество и комфорт
        li.about-list__item Идет в ногу со временем
        li.about-list__item Стремится быть лучшим
        li.about-list__item Хочет сделать первый шаг
        li.about-list__item Ставит перед собой цели
        li.about-list__item Ищет единомышленников
      p.about__text.text-bold Made in Gym клуб для тебя!
    
    a(href="#gallery" data-offset="620").welcome-start.black
      .welcome-start-lines
        .welcome-start-lines__item
          .welcome-start-lines__line
          .welcome-start-lines__line
        .welcome-start-lines__item
          .welcome-start-lines__line
          .welcome-start-lines__line
        .welcome-start-lines__item
          .welcome-start-lines__line
          .welcome-start-lines__line
