section.club#club
  .section-container.club-container
    .words-point
  .wrap.club__wrap
    h2.section-title.club__title Клубные карты

    .club-body
    
      .club-item
        .club-item__container
          .club-item__top
            .club-item__image(style="background-image: url('assets/images/club-1.jpg')")
            h4.club-item__title Стандарт
            ul.club-list
              li.club-list__item Доступ в <a href="#">личный кабинет</a> на сайте
                p.club-list-prompt В нем вы можете записаться на тренировку, пополнить баланс, оформить заморозку, создать собственное расписание и многое другое.
              li.club-list__item Безлимитное посещение
              li.club-list__item Сейфовые ячейки
              li.club-list__item Питьевая вода
          .club-item__bottom
            p.club-item__price от 20 000 руб
            a(href="#").club-item__button Купить карту
      .club-item.disabled
        .club-item__container
          .club-item__top
            .club-item__image(style="background-image: url('assets/images/club-2.jpg')")
            h4.club-item__title Дневная
            ul.club-list
              li.club-list__item Доступ в <a href="#">личный кабинет</a> на сайте
                p.club-list-prompt В нем вы можете записаться на тренировку, пополнить баланс, оформить заморозку, создать собственное расписание и многое другое.
              li.club-list__item Безлимитное посещение
              li.club-list__item Сейфовые ячейки
              li.club-list__item Питьевая вода
          .club-item__bottom
            p.club-item__price от 20 000 руб
            a(href="#").club-item__button Купить карту
      .club-item.disabled
        .club-item__container
          .club-item__top
            .club-item__image(style="background-image: url('assets/images/club-3.jpg')")
            h4.club-item__title Семейная
            ul.club-list
              li.club-list__item Доступ в <a href="#">личный кабинет</a> на сайте
                p.club-list-prompt В нем вы можете записаться на тренировку, пополнить баланс, оформить заморозку, создать собственное расписание и многое другое.
              li.club-list__item Безлимитное посещение
              li.club-list__item Сейфовые ячейки
              li.club-list__item Питьевая вода
          .club-item__bottom
            p.club-item__price от 20 000 руб
            a(href="#").club-item__button Купить карту
      .club-item.disabled
        .club-item__container
          .club-item__top
            .club-item__image(style="background-image: url('assets/images/club-4.jpg')")
            h4.club-item__title Детская
            ul.club-list
              li.club-list__item Доступ в <a href="#">личный кабинет</a> на сайте
                p.club-list-prompt В нем вы можете записаться на тренировку, пополнить баланс, оформить заморозку, создать собственное расписание и многое другое.
              li.club-list__item Для детей от 4 до 16 лет
              li.club-list__item Безлимитное посещение
              li.club-list__item Сейфовые ячейки
              li.club-list__item Питьевая вода
          .club-item__bottom
            p.club-item__price от 20 000 руб
            a(href="#").club-item__button Купить карту
    
    
    a(href="#contacts" data-offset="500").welcome-start.black
      .welcome-start-lines
        .welcome-start-lines__item
          .welcome-start-lines__line
          .welcome-start-lines__line
        .welcome-start-lines__item
          .welcome-start-lines__line
          .welcome-start-lines__line
        .welcome-start-lines__item
          .welcome-start-lines__line
          .welcome-start-lines__line
