section.contacts#contacts
  .section-container.contacts-container
    .words-point(data-midnight="white")
  .wrap
    .section-title.contacts__title Контакты
    .contacts-body
      .contacts-info
        .contacts-info-item
          .contacts-info-item__title Адрес
          .contacts-info-item__text г. Новосибирск, <br>ул. Владимира Заровного, 26/2
        .contacts-info-item
          .contacts-info-item__title телефон
          a(href="tel:+7(383)-305-15-55").contacts-info-item__text +7 (383)-305-15-55
        .contacts-info-item
          .contacts-info-item__title Время работы
          .contacts-info-item__text Будни: 7:00 — 23:00 <br>Выходние: 9:00 — 22:00
        .contacts-info-item
          .contacts-info-item__title e-mail
          a(href="mailto:sales@madeingym.ru").contacts-info-item__text sales@madeingym.ru
      
      .contacts-social
        a(href="https://www.facebook.com/madeingym.fitness/").contacts-social__item facebook
        a(href="https://www.instagram.com/madeingym_com/").contacts-social__item instagram
        a(href="https://vk.com/madeingym.fitness").contacts-social__item vkontakte
    
    .contacts-map#map
    
    a(href="#join" data-offset="650").welcome-start
      .welcome-start-lines
        .welcome-start-lines__item
          .welcome-start-lines__line
          .welcome-start-lines__line
        .welcome-start-lines__item
          .welcome-start-lines__line
          .welcome-start-lines__line
        .welcome-start-lines__item
          .welcome-start-lines__line
          .welcome-start-lines__line
          
