footer.footer
  .wrap.footer__wrap
    .footer-main
      a(href="#").footer-logo
        img(src="assets/images/svg/logo-header.svg")
      p.footer-copyright Все права защищены (С) <br>2018 ООО «Made in Gym» 
    .footer-autor
      p.footer-autor__text Сделано в
      a(href="https://olympia.digital/").footer-autor__logo
        img(src="https://static.oly-d.ru/images/logo_1_white.svg" width="116")
