section.gallery#gallery
  .section-container.gallery-container
    .words-point(data-midnight="white")
  .wrap.gallery__wrap
    .section-title.gallery__title Галерея
  //- img(src="assets/images/gallery-bg-image.png").gallery-back
  .gallery-slider
    .gallery-content
      .gallery-slide
        .gallery-slide__container(style="background-image:url('assets/images/16_07.jpg');")
        .gallery-slide__title
          p Тренажерный зал
      .gallery-slide
        .gallery-slide__container(style="background-image:url('assets/images/16_07.jpg');")
        .gallery-slide__title
          p Тренажерный зал
      .gallery-slide
        .gallery-slide__container(style="background-image:url('assets/images/16_07.jpg');")
        .gallery-slide__title
          p Тренажерный зал
    
    .gallery-nav
      .wrap.gallery-nav__wrap
        .gallery-nav__item.gallery-nav__item_left
          img(src="assets/images/svg/slider-arrow.svg")
        .gallery-nav__item.gallery-nav__item_right
          img(src="assets/images/svg/slider-arrow.svg")

    
  a(href="#statistic" data-offset="800").welcome-start
    .welcome-start-lines
      .welcome-start-lines__item
        .welcome-start-lines__line
        .welcome-start-lines__line
      .welcome-start-lines__item
        .welcome-start-lines__line
        .welcome-start-lines__line
      .welcome-start-lines__item
        .welcome-start-lines__line
        .welcome-start-lines__line
    
