header.header
  .wrap.header__wrap
    a(href="index.html").header-logo
      img(src="assets/images/svg/logo-header.svg")
    ul.header-nav
      li.header-nav__item.link-about
        a(href="#about" data-offset="400") О клубе
      li.header-nav__item.link-gallery
        a(href="#gallery" data-offset="620") Фотогалерея
      li.header-nav__item.link-halls
        a(href="#halls" data-offset="-50") Залы
      li.header-nav__item.link-program
        a(href="#program" data-offset="500") Программы
      li.header-nav__item.link-club
        a(href="#club" data-offset="-100") Клубные карты
      li.header-nav__item.link-contacts
        a(href="#contacts" data-offset="500") Контакты
    .header-contacts
      a(href="tel:+7(383)-305-15-55") +7 (383)-305-15-55
    
    .header-gamburger
      .header-gamburger__item
      .header-gamburger__item
      .header-gamburger__item
