section.join#join
  .words-point
  .wrap.join__wrap
    img(src="assets/images/join-image.png").join-image
    .join-body
      h2.join-title Вступай в клуб
      p(data-fancybox data-modal="true" data-src="#popup").join-button Присоединиться
