section.popup#popup(style="display:none;")
  .wrap.popup-wrap
    form.popup-form
      img.popup-close.fancybox-button(src="assets/images/svg/popup-close.svg" data-fancybox-close onclick="javascript:parent.jQuery.fancybox.close();")
      h2.popup__title Оставить заявку
      input(type="text" placeholder="ФИО").popup-input
      input(type="tel" placeholder="Телефон").popup-input
      input(type="e-mail" placeholder="Почта" required).popup-input
      button.popup-button Связаться со мной
      p.popup-text *Нажимая на кнопку «Свяжитесь со мной», я соглашаюсь с тем, что Made in Gym может связываться со мной по почте, электронной почте, смс, телефону и с помощью других средств связи и даю согласие на обработку моих персональных данных, включая передачу третьим лицам, уполномоченным Made in Gym для обработки запроса, отправленного мной через форму обратной связи.
