section.program#program
  .section-container.program-container
    .words-point(data-midnight="white")
  .wrap
    .section-title.program__title Программы
    .program-body
      ul.program-nav
        li.program-nav__item.active
          a(href="#item-1") Персональные
        li.program-nav__item
          a(href="#item-2") Единоборства
        li.program-nav__item
          a(href="#item-3") Antigravity
        li.program-nav__item
          a(href="#item-4") Силовые
        li.program-nav__item
          a(href="#item-5") Детские
        li.program-nav__item
          a(href="#item-6") Пилатес
        li.program-nav__item
          a(href="#item-7") Танцы
        li.program-nav__item
          a(href="#item-8") Йога
      
      .program-item#item-1
        .program-image(style="background-image: url('assets/images/program/personal.png');")
        .program-content
          h4.program-content__title Персональные тренировки
          p.program-content__text Тренеры Made in Gym разрабатывают уникальные программы тренировок, опираясь на уровень подготовки и поставленные цели. Индивидуальные занятия проходят по любым из направлений клуба.
      .program-item(style="display:none;")#item-2
        .program-image(style="background-image: url('assets/images/program/single.png');")
        .program-content
          h4.program-content__title Единоборства
          p.program-content__text В команде Made in Gym лучшие тренеры по смешанным боевым искусствам, боксу, грэпплингу, бразильскому джиу-джитсу, тайскому боксу, кикбоксингу, женской самообороне и фитбоксингу.
      .program-item(style="display:none;")#item-3
        .program-image(style="background-image: url('assets/images/program/anti.png');")
        .program-content
          h4.program-content__title Йога в гамаках
          p.program-content__text Тренировки с использованием шелковых гамаках, подвешенных к потолку. Сочетают в себе практики йоги, пилатеса, упражнения ballet barre и элементы акробатической гимнастики. Занятия полностью исключают нагрузку на позвоночник и помогают улучшить осанку, развить гибкость и выносливость мышц.
      .program-item(style="display:none;")#item-4
        .program-image(style="background-image: url('assets/images/program/power.png');")
        .program-content
          h4.program-content__title Силовые и функциональные тренировки
          p.program-content__text Групповые и индивидуальные тренировки направленные на работу разных групп мышц.<br>Во время тренировок может использоваться дополнительное оборудование: гири, канаты, медболы, штанги и т. д.
      .program-item(style="display:none;")#item-5
        .program-image(style="background-image: url('assets/images/program/children.png');")
        .program-content
          h4.program-content__title Детские тренировки
          p.program-content__text Групповые и персональные тренировки, спортивные секции и для детей от 4 до 16 лет. Занятия по разным направлениям: единоборства, танцы,, йога и другие фитнес-программы. Занятия Помогают развить гибкость и укрепить мышцы.
      .program-item(style="display:none;")#item-6
        .program-image(style="background-image: url('assets/images/program/pilates.png');")
        .program-content
          h4.program-content__title Пилатес
          p.program-content__text Пилатес подходит для людей с любым уровнем подготовки. Направлена на проработку суставов, глубоких внутренних мышц. Улучшение осанки и подвижность суставов.
      .program-item(style="display:none;")#item-7
        .program-image(style="background-image: url('assets/images/program/dance.png');")
        .program-content
          h4.program-content__title Танцы
          p.program-content__text Для членов клуба будут доступны различные танцевальные направления от Body Ballet до современных направлений. 
      .program-item(style="display:none;")#item-8
        .program-image(style="background-image: url('assets/images/program/yoga.png');")
        .program-content
          h4.program-content__title Йога
          p.program-content__text Занятия йогой помогают расслабиться, снять психоэмоциональное напряжение, улучшают концентрацию и общее физическое состояние. На занятиях упор делается на правильное дыхание, концентрацию и взаимодействие разума и тела.


    .more.program-more
      h5.more__title Что еще?
      .more-body
        .more-item
          .more-item__number 01
          .more-item__wrap
            .more-item__title Спортивное питание
            .more-item__text В клубе представлено спортивное питание «Рок Блок» с несколькими продуктовыми линейками: протеины, БЦА, кофе и многое другое.

        .more-item
          .more-item__number 02
          .more-item__wrap
            .more-item__title Салон красоты
            .more-item__text Среди наших партнеров салон красоты, который предлагает членам клуба Made in Gym скидки на все услуги.

    a(href="#club" data-offset="-100").welcome-start
      .welcome-start-lines
        .welcome-start-lines__item
          .welcome-start-lines__line
          .welcome-start-lines__line
        .welcome-start-lines__item
          .welcome-start-lines__line
          .welcome-start-lines__line
        .welcome-start-lines__item
          .welcome-start-lines__line
          .welcome-start-lines__line
